# =========================
# Python
# =========================
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# =========================
# R / renv
# =========================
renv/library/
renv/python/
.Rhistory
.RData
.Rproj.user/

# =========================
# Outputs / Results
# =========================
3_results/

# OPTIONAL: falls große Rohdaten NICHT ins Git sollen
# 0_data/

# =========================
# OS / Editor
# =========================
.DS_Store
.vscode/